openapi: 3.2.0
info:
  title: Pepperdata REST Alarms Job Details API
  version: '1.0'
  description: The Pepperdata REST API provides programmatic access to observability data that is also available through the Pepperdata dashboard. You can retrieve time-series metrics, series, and filters (/m), query application/job details and tuning recommendations for Spark, MapReduce, Tez, and Kubernetes workloads (/jobdetails), and create, retrieve, revise, and delete alarms (/alarms). All returned data is JSON unless otherwise specified.
  contact:
    name: Pepperdata Support
    url: https://support.pepperdata.com/
  x-generated: '2026-07-20'
  x-method: generated
  x-source: https://docs.pepperdata.com/rest-api/
servers:
- url: https://dashboard.pepperdata.com/{realm}/api
  description: Pepperdata installation base URL. REALM is the URL segment associated with the cluster/realm whose resources you are accessing.
  variables:
    realm:
      default: pepperdata-demonstration
      description: Your Pepperdata realm/cluster name.
security:
- PDAPIAuth: []
tags:
- name: Job Details
  description: Query application/job details, counters, and tuning recommendations.
paths:
  /jobdetails:
    get:
      operationId: getJobDetails
      tags:
      - Job Details
      summary: Query application/job details
      description: Retrieve application/job details for the realm. By default the response contains the most recent apps. All access is via HTTP GET with query arguments. Paginate large result sets with filterjobidsafter.
      parameters:
      - name: s
        in: query
        description: Start time of query. Absolute (2020/07/20-05:54), relative (1h), or timestamp (1595163240000).
        schema:
          type: string
      - name: e
        in: query
        description: End time of the query. Defaults to current time.
        schema:
          type: string
      - name: tzo
        in: query
        description: 'Time zone offset in hours (e.g. PDT: -7).'
        schema:
          type: integer
      - name: j
        in: query
        description: Filter by job IDs (comma-separated).
        schema:
          type: string
      - name: apptype
        in: query
        description: Type of app.
        schema:
          type: string
          enum:
          - spark
          - mapreduce
          - tez
      - name: finalstatus
        in: query
        description: Final status of the app.
        schema:
          type: string
          enum:
          - SUCCEEDED
          - FAILED
          - KILLED
          - ENDED
      - name: resolvedstatus
        in: query
        description: 'Resolved status: first available of FINAL_STATUS or APP_STATE, otherwise INVALID.'
        schema:
          type: string
      - name: appstate
        in: query
        description: Current status of the app.
        schema:
          type: string
          enum:
          - NEW
          - NEW_SAVING
          - SUBMITTED
          - ACCEPTED
          - RUNNING
          - FINISHED
          - FAILED
          - KILLED
      - name: sdelay
        in: query
        description: Minimum time (ms) in queue from submission to first container launch.
        schema:
          type: integer
      - name: limit
        in: query
        description: Maximum number of apps to return (max 10,000).
        schema:
          type: integer
          maximum: 10000
      - name: showalldetails
        in: query
        description: Set to 1 to return app profiler details (configuration properties, recommendations, counters).
        schema:
          type: integer
          enum:
          - 1
      - name: recommendationsonly
        in: query
        description: Return only apps with recommendations (equivalent to recommendationsgte=low).
        schema:
          type: integer
          enum:
          - 1
      - name: recommendationsgte
        in: query
        description: Filter by minimum recommendation severity.
        schema:
          type: string
          enum:
          - low
          - moderate
          - severe
          - critical
      - name: recommendationsmatching
        in: query
        description: 'Filter by specified severity levels (comma-separated: critical, severe, moderate, low, none).'
        schema:
          type: string
      - name: fetchsparkdetails
        in: query
        description: Set to 1 for Spark driver metadata (executors, stages). Spark only; most recent 100 jobs, 1000 stages, 24 hours.
        schema:
          type: integer
          enum:
          - 1
      - name: fetchtaskdetails
        in: query
        description: Set to 1 for container error exit codes (up to 50 containers with errors).
        schema:
          type: integer
          enum:
          - 1
      - name: workflowid
        in: query
        description: Filter by specified workflow ID.
        schema:
          type: string
      - name: filterjobidsafter
        in: query
        description: Return only jobs running after the specified job ID (pagination cursor).
        schema:
          type: string
      - name: namespace
        in: query
        description: Filter by cluster namespace (Kubernetes only).
        schema:
          type: string
      - name: showmaybesettleddata
        in: query
        description: Set to 1 to include data asynchronously populated later in the metrics pipeline.
        schema:
          type: integer
          enum:
          - 1
      responses:
        '200':
          description: Job details response (array of app objects).
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
  securitySchemes:
    PDAPIAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key authentication. Send the header `Authorization: PDAPI <API-key-id>:<API-key-token>`. Obtain a key at https://dashboard.pepperdata.com/account/apikeys and click Create API Key. A key is reusable until deleted or revoked.'
